<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container">
            <a class="navbar-brand text-light" href="https://www.vlab.dk/"><i class="bi bi-person">Virtual Lab</i></a>
            <!-- Navigation links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</div>